/Javascript/e-commerce2022/server/node_modules
/proyecto-final/ecommerce-mern/backend/node_modules
*.ini
/Python/Proyecto-Pygame/__pycache__
proyecto-final/ecommerce-mern/backend/.env
proyecto-final/ecommerce-mern/backend/.env
/JAVA/Clase17-10-Tienda_libros/target
/JAVA/Clase07-10-Tienda_libros/target
proyecto-final/ecommerce-mern/backend/.env
